In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import pandas as pd
import course.utils.paths as path

from sklearn.cluster import MiniBatchKMeans, MeanShift

In [3]:
data_DIR = path.data_raw_dir('candy.csv')
dataset = pd.read_csv(data_DIR)
display(dataset)

,competitorname,chocolate,fruity,caramel,peanutyalmondy,nougat,crispedricewafer,hard,bar,pluribus,sugarpercent,pricepercent,winpercent
0,100 Grand,1,0,1,0,0,1,0,1,0,0.732,0.860,66.971725
1,3 Musketeers,1,0,0,0,1,0,0,1,0,0.604,0.511,67.602936
2,One dime,0,0,0,0,0,0,0,0,0,0.011,0.116,32.261086
3,One quarter,0,0,0,0,0,0,0,0,0,0.011,0.511,46.116505
4,Air Heads,0,1,0,0,0,0,0,0,0,0.906,0.511,52.341465
...,...,...,...,...,...,...,...,...,...,...,...,...,...
80,Twizzlers,0,1,0,0,0,0,0,0,0,0.220,0.116,45.466282
81,Warheads,0,1,0,0,0,0,1,0,0,0.093,0.116,39.011898
82,WelchÕs Fruit Snacks,0,1,0,0,0,0,0,0,1,0.313,0.313,44.375519
83,WertherÕs Original Caramel,0,0,1,0,0,0,1,0,0,0.186,0.267,41.904308
84,Whoppers,1,0,0,0,0,1,0,0,1,0.872,0.848,49.524113

In [4]:
X = dataset.drop(['competitorname'], axis=1)

In [5]:
kmeans = MiniBatchKMeans(
    n_clusters=4,
    batch_size=8,
    n_init='auto'
).fit(X)

print('Number of centroids:', len(kmeans.cluster_centers_))
print('-'*10)
dataset['labels_km'] = kmeans.labels_
display(dataset)

Number of centroids: 4
----------

,competitorname,chocolate,fruity,caramel,peanutyalmondy,nougat,crispedricewafer,hard,bar,pluribus,sugarpercent,pricepercent,winpercent,labels_km
0,100 Grand,1,0,1,0,0,1,0,1,0,0.732,0.860,66.971725,1
1,3 Musketeers,1,0,0,0,1,0,0,1,0,0.604,0.511,67.602936,1
2,One dime,0,0,0,0,0,0,0,0,0,0.011,0.116,32.261086,3
3,One quarter,0,0,0,0,0,0,0,0,0,0.011,0.511,46.116505,0
4,Air Heads,0,1,0,0,0,0,0,0,0,0.906,0.511,52.341465,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80,Twizzlers,0,1,0,0,0,0,0,0,0,0.220,0.116,45.466282,0
81,Warheads,0,1,0,0,0,0,1,0,0,0.093,0.116,39.011898,0
82,WelchÕs Fruit Snacks,0,1,0,0,0,0,0,0,1,0.313,0.313,44.375519,0
83,WertherÕs Original Caramel,0,0,1,0,0,0,1,0,0,0.186,0.267,41.904308,0
84,Whoppers,1,0,0,0,0,1,0,0,1,0.872,0.848,49.524113,2

In [6]:
mshift = MeanShift().fit(X)

print('Number of centroids:', len(mshift.cluster_centers_))
print('-'*10)
dataset['labels_ms'] = mshift.labels_
display(dataset)

Number of centroids: 3
----------

,competitorname,chocolate,fruity,caramel,peanutyalmondy,nougat,crispedricewafer,hard,bar,pluribus,sugarpercent,pricepercent,winpercent,labels_km,labels_ms
0,100 Grand,1,0,1,0,0,1,0,1,0,0.732,0.860,66.971725,1,2
1,3 Musketeers,1,0,0,0,1,0,0,1,0,0.604,0.511,67.602936,1,2
2,One dime,0,0,0,0,0,0,0,0,0,0.011,0.116,32.261086,3,0
3,One quarter,0,0,0,0,0,0,0,0,0,0.011,0.511,46.116505,0,0
4,Air Heads,0,1,0,0,0,0,0,0,0,0.906,0.511,52.341465,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80,Twizzlers,0,1,0,0,0,0,0,0,0,0.220,0.116,45.466282,0,0
81,Warheads,0,1,0,0,0,0,1,0,0,0.093,0.116,39.011898,0,0
82,WelchÕs Fruit Snacks,0,1,0,0,0,0,0,0,1,0.313,0.313,44.375519,0,0
83,WertherÕs Original Caramel,0,0,1,0,0,0,1,0,0,0.186,0.267,41.904308,0,0
84,Whoppers,1,0,0,0,0,1,0,0,1,0.872,0.848,49.524113,2,1